/* Css för alla html filer */

*{
    margin: 0;
    padding: 0;
}

/* Parent div Styling för Grid */

.mango-main-div {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 10fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
    
/* Nav bar CSS styling */

.nav-bar { 
    grid-area: 1 / 1 / 2 / 2; 
}

.nav-bar-child{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.nav-bar-chd:nth-child(1) img{
    border: 10px solid;
    border-image-slice: 1;
    border-width: 3px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-image-source: radial-gradient( black 80%, white 90%);
}

.nav-bar-chd:nth-child(1){
    margin-bottom: 10px;
}

.nav-bar-chd:nth-child(2){
    border: 10px solid;
    border-image-slice: 1;
    border-width: 3px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-image-source: radial-gradient( black 80%, white 90%);
    height: 70%; 
    text-align: center;
    font-size: 1.2em;
}

.nav-bar-chd:nth-child(2) a{
    color: black;
    text-decoration: none;
    margin-right: 15px;
}

/* Body div styling */

.body-div { 
    grid-area: 2 / 1 / 3 / 2; 
    display: flex;
    flex-direction:column;
    background-color: grey;
    min-height: 10%;
}



.tab {
    padding: 30px;
    display: flex;
    justify-content:center;
}
  
.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 40px;
}
  
.tab button:hover {
    background-color: #ddd;
}
  
.tab button.active {
    background-color: #ccc;
}
  
.tabcontent {
    display: flex;
    flex-wrap: wrap;
    margin-left: 25%;
    justify-content: flex-start;
    width: 55%;

}

.menu{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 2fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
    margin: 10px;
    padding: 10px;
    border: solid 4px black;
    border-radius: 20px;
    height: 400px;
    width: 300px;
}


.spicy{
    background-color: #ba0c1e;
    height: 30px;
    width: 30px;
    border-radius: 50px;
}

.push{
    height: 30px;
    width: 30px;
    border-radius: 50px;
}

.price{
    height: 10%;
    grid-area: 3 / 1 / 4 / 2;
    font-size: 30px;
    display: flex;
    justify-content: center;
}

/* .foodimages{
    padding-top: 30px;
} */

.foodimg{
    height: 30%;
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    justify-content: center;
    height: 140px;
    width: auto;
}

.fooddic{
    height: 100%;
    grid-area: 2 / 1 / 3 / 2;
}

.titdec{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
}

p.foodtitle{
    grid-area: 1 / 1 / 2 / 2;
    padding-top: 10px;
    font-size: 30px;
    display: flex;
    justify-content: center;
}

p.fooddescription{
    grid-area: 2 / 1 / 3 / 2;
    /* padding-top: 30px; */
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.foodcattitle{
    font-size: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 40%;
    margin-right: 20%;

}
.foodcattitle2{
    font-size: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30%;
    margin-right: 20%;
    height: 10%;

}

/* Body styling end */

/* Fotter bar Styling */

.fotter-bar { 
    grid-area: 3 / 1 / 4 / 2; 
    border: 10px solid;
    border-image-slice: 1;
    border-width: 3px;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-image-source: radial-gradient( black 80%, white 90%);
    height: 70%; 
    text-align: center;
    font-size: 1.2em;
} 



.footer-chd img{
    width: 15%;
    height: 15%;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 3px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-image-source: radial-gradient( black 80%, white 90%);
}

.footer-chd:nth-child(2){
    text-align: center;
    font-size: 0.8em;
}

.footer-chd:nth-child(2) p{
    margin-top: 5px;
    margin-bottom: 30px;
}

.footer-chd:nth-child(2) #fsp{
    margin-bottom: 5px;
}

.footer-chd:nth-child(2) a{
    color: black;
    text-decoration: none;
}