/*
*{
    margin: 0;
    padding: 0;
}


#top-box {
    background-color: white;
    display: flex;
    width: 100%;
    height: 250px;
}

#middle-box {
    background: linear-gradient(40deg, #45ff4e, #ffa722);
    display: flex;
    width: 100%;
    height: 750px;
    top: 250px;
    align-items: center;
    justify-content: center;
}

#bottom-box {
    background-color: white;
    display: flex;
    width: 100%;
    height: 400px;
    top: 1000px;
}

#text-box {
    width: 750px;
    height: 600px;
    text-align: center;
}

#text-box-inner-h1 {
    display: flex;
    font-size: 40px;
    align-items: center;
    justify-content: center;
}

#text-box-inner-h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

#text-box-inner-main {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
} 
*/






.mango-main-div {
    grid-template-rows: 1fr 6fr 1fr;
}

#middle-box {
    background: linear-gradient(40deg, #45ff4e, #ffa722);
    display: flex;
    width: 100%;
    height: 750px;
    top: 250px;
    align-items: center;
    justify-content: center;
}

#text-box {
    width: 750px;
    height: 600px;
    text-align: center;
}

#text-box-inner-h1 {
    display: flex;
    font-size: 40px;
    align-items: center;
    justify-content: center;
}

#text-box-inner-h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

#text-box-inner-main {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

#middle-box-k1 {
    background: linear-gradient(-150deg, #4fdbbd, #ff8935);
    display: flex;
    width: 100%;
    height: 275px;
    top: 250px;
    align-items: center;
    justify-content: center;
}

#text-box-k1 {
    width: 1250px;
    height: 300px;
    text-align: center;
}

#text-box-inner-h1-k1 {
    display: flex;
    float: left;
    height: 100%;
    width: 50%;
    font-size: 30px;
    align-items: center;
    justify-content: center;
}

#text-box-inner-h2-k1 {
    display: flex;
    float: right;
    height: 100%;
    width: 50%;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.black-link {
    text-decoration: none;
    color: black;
}

#gallery-page {
    background: linear-gradient(-30deg, #33ffa7, #ffb624);
    width: 100%;
    height: fit-content;
    padding: 2%;
    line-height:0;
    -webkit-column-count:5; 
    -webkit-column-gap:5px; 
    -moz-column-count:5;
    -moz-column-gap:5px;
    column-count:5;
    column-gap:5px;
}

.gimg {
    width:100%;
    height: auto;
    margin-bottom: 5px;
}


#gallery-body {
    display: flex;
    justify-content: center;
}

@media (max-width: 1200px) {
    #gallery-page {
     -moz-column-count:    4;
     -webkit-column-count: 4;
     column-count:         4;
    }
}

@media (max-width: 1000px) {
    #gallery-page {
     -moz-column-count:    3;
     -webkit-column-count: 3;
     column-count:         3;
    }
}

@media (max-width: 800px) {
    #gallery-page {
     -moz-column-count:    2;
     -webkit-column-count: 2;
     column-count:         2;
    }
}

@media (max-width: 400px) {
    #gallery-page {
     -moz-column-count:    1;
     -webkit-column-count: 1;
     column-count:         1;
    }
}

