
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Josefin Sans', sans-serif;
    width: 100vw;
    background-color: antiquewhite;
}


/* Parent div Styling för Grid */

.mango-main-div {
    display: grid;
}
    
/* Nav bar CSS styling */

.nav-bar { 
    grid-area: 1 / 1 / 2 / 2;
    width: 100vw;
}

.nav-bar-child{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.nav-bar-chd:nth-child(1) img{
    border: 10px solid;
    border-image-slice: 1;
    border-width: 3px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-image-source: radial-gradient( black 80%, antiquewhite 90%);
}

.nav-bar-chd:nth-child(1){
    margin-bottom: 10px;
}

.nav-bar-chd:nth-child(2){
    border: 10px solid;
    border-image-slice: 1;
    border-width: 3px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-image-source: radial-gradient( black 80%, antiquewhite 90%);
    height: 70%; 
    text-align: center;
    font-size: 1.2em;
}

.nav-bar-chd:nth-child(2) a{
    color: black;
    text-decoration: none;
    margin-right: 15px;
}

/* Body div styling */

.body-div { 
    grid-area: 2 / 1 / 3 / 2; 
}

.start-page{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.div-food{
    display: flex;
    justify-content: center;
}

:root {
    --no-of-slides: 6;
    --slides-in-view: 4;
    --slide-width: 450px;
    --slide-height: 450px;
    --iteration-time: 13s;
}

@media (max-width: 1000px){
    :root {
        --no-of-slides: 6;
        --slides-in-view: 2;
        --slide-width: 200px;
        --slide-height: 200px;
        --iteration-time: 13s;
    }
    .div-food{
        width: 100vw;
    }
}

@keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(var(--slide-width) * var(--no-of-slides)* -1));
    }
}
  
.carousel__wrapper {
    display: flex;
    align-items: center;
    
    width: calc(var(--slides-in-view) * var(--slide-width));
    overflow: hidden;
    /* border: 1px dashed gray; */
    margin: 0 auto;
}
  
 .carousel {
    height: 100%;
    overflow: hidden;
    width: calc(2 * var(--no-of-slides));
}
  
.carousel__slide {
    animation: scroll var(--iteration-time) linear infinite;
    display: flex;
    flex-direction: column;
    
    flex: 0 0 auto;
    width: var(--slide-width);
    height: var(--slide-height);
    box-sizing: border-box;
    /*border: 1px dotted darkblue;*/
}
  
.carousel__image {
    background-size: cover;
    background-repeat: no-repeat;
    
    height: 100%;
    /*width: 100px;*/
    margin: 15px 5px;
}
  
  
/* just for analysis remove this 3 rules later*/

/* .carousel__slide {
    position: relative;
}
  
  .carousel {
    counter-reset: slideNo;
}
  
.carousel__slide::before {
    counter-increment: slideNo;
    content: counter(slideNo);
    position: absolute;
    top: 0%;
    left: 50%;
    font-size: 2rem;
    color: lime;
} */


.div-text{
    text-align: center;
    margin-bottom: 3%;
    width: 100vw;
}

.div-text h2{
    font-weight: bold;
    margin-bottom: 0.5%;
    margin-top: 1%;
    font-size: 4.5em;
}

.div-text h3{
    font-weight: bold;
    margin-bottom: 0.3%;
    margin-top: 1%;
    font-size: 3.5em;
}

.div-text p{
    font-size: 2.5em;
}


@media (max-width: 1000px){
    .div-text h2{
        font-weight: bold;
        margin-bottom: 0.5%;
        margin-top: 1%;
        font-size: 3em;
    }
    
    .div-text h3{
        font-weight: bold;
        margin-bottom: 0.3%;
        margin-top: 1%;
        font-size: 2em;
    }

    .div-text p{
        font-size: 1em;
    }
}
    


.div-map{
    text-align: center;
    height: 100%;
    width: 100vw;
}

.div-map h2{
    margin-bottom: 1.5%;
    font-size: 2em;
}

.div-map iframe{
    width: 100vw;
}

@media (max-width: 1000px){
    .div-map iframe{
        height: 50%;
    }
}

/* Fotter bar Styling */

.fotter-bar { 
    grid-area: 3 / 1 / 4 / 2; 
    border: 10px solid;
    border-image-slice: 1;
    border-width: 3px;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-image-source: radial-gradient( black 80%, antiquewhite 90%);
    height: 70%; 
    text-align: center;
    font-size: 1.2em;
    width: 100vw;
} 

.footer-chd img{
    width: 15%;
    height: 15%;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 3px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-image-source: radial-gradient( black 80%, antiquewhite 90%);
    padding-top: 0.3%;
}

.footer-chd .facebook{
    display: inline-block;
    width: 1%;
    height: 1%;
    border: none !important;
}

@media (max-width: 1000px){
    .footer-chd img{
        width: 40%;
        height: 40%;
    }
    .footer-chd .facebook{
        display: inline-block;
        width: 10%;
        height: 10%;
    }
}

.footer-chd:nth-child(2){
    text-align: center;
    font-size: 0.8em;
}

.footer-chd:nth-child(2) p{
    margin-top: 5px;
}

.footer-chd:nth-child(2) #fsp{
    margin-bottom: 5px;
}

.footer-chd:nth-child(2) a{
    color: black;
    text-decoration: none;
}